<div class="danhMucMonHoc">
	<div class="row mt-3">
		<article class="col-12 col-md-9">
			<div class="text-center">
				<h1 class="border border-2 border-secondary px-2 d-inline fw-bold">
					Môn học
				</h1>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-4 col-12" ng-repeat="monHoc in list_monHoc">
					<div class="title-img text-center">
						<a href="#"
							><img src="Images/{{monHoc.Logo}}" class="img-fluid"
						/></a>
					</div>
					<div class="title-text text-center">
						<h1>
							<a href="#" class="fw-bold">{{ monHoc.Id }}</a>
						</h1>
					</div>
					<div class="text-center">
						<span>{{ monHoc.Name }}</span>
					</div>
					<hr />
				</div>
			</div>
		</article>
		<aside class="col-12 col-md-3 border-start border-dark">
			<div class="border border-secondary p-1 mb-3">
				<h4 class="fw-bold text-center m-0">Danh mục.</h4>
			</div>
			<div class="aside-menu">
				<div class="list-group">
					<a
						href="#"
						class="list-group-item list-group-item-action"
						ng-repeat="dmMonHoc in list_monHoc"
						><i class="bi bi-arrow-right">{{dmMonHoc.Name}}</i>
						<span class="badge bg-dark float-end"></span
					></a>
				</div>
			</div>
			<div class="aside-list">
				<div class="border border-secondary p-1 mt-5 mb-3">
					<h4 class="fw-bold text-center m-0">Lorem ipsum dolor.</h4>
				</div>
				<div class="row">
					<div class="col-1">
						<i class="bi bi-arrow-return-right"></i>
					</div>
					<div class="col-11">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eum,
						libero sit expedita itaque officia optio fugiat veniam error quo ut.
						Voluptate sed expedita quos itaque sit molestias necessitatibus
						dolorum.
					</div>
				</div>

				<div class="border border-secondary p-1 mt-5 mb-3">
					<h4 class="fw-bold text-center m-0">Lorem ipsum dolor.</h4>
				</div>
				<div class="row">
					<div class="col-1">
						<i class="bi bi-arrow-return-right"></i>
					</div>
					<div class="col-11">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eum,
						libero sit expedita itaque officia optio fugiat veniam error quo ut.
						Voluptate sed expedita quos itaque sit molestias necessitatibus
						dolorum.
					</div>
				</div>
			</div>
		</aside>
	</div>
	<hr />
	<div class="row mt-3">
		<div class="title-text text-center mb-3">
			<h1 class="border border-2 border-secondary px-2 d-inline fw-bold">
				Môn học phổ biến.
			</h1>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/java.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/html.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/javascript.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/angularjs.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-12 anh-tuong-trung">
			<img src="Images/javascript.jpg" alt="" class="img-fluid w-100 my-5" />
		</div>
	</div>
	<hr />
	<div class="row mt-3">
		<div class="title-text text-center mb-3">
			<h1 class="border border-2 border-secondary px-2 d-inline fw-bold">
				Môn học khác.
			</h1>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/java.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/html.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/javascript.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/angularjs.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
	</div>
	<hr />
	<footer class="text-center bg-secondary text-white p-3 mt-3">
		<p>@2021 - design by Nguyễn Viết Hiên</p>
		<div class="go-to-top">
			<a href="#" class="">
				<i class="bi bi-arrow-bar-up"></i>
				<br />
				BACK TOP TOP</a
			>
		</div>
	</footer>
</div>
