<div class="gopY">
	<div class="row mt-3">
		<article class="col-12 col-md-9">
			<h1 class="text-center">Góp ý</h1>
			<hr />
			<form action="" class="" name="formGopY">
				<label class="fw-bold" for="fullName">Nhập tên của bạn</label>
				<input
					type="text"
					name="fullName"
					id="fullName"
					class="form-control mb-2"
					ng-model="fullName"
					required
				/>
				<small
					class="text-danger d-block"
					ng-hide="formGopY.fullName.$untouched || formGopY.fullName.$valid"
				>
					Vui lòng nhập tên của bạn
				</small>
				<label class="fw-bold" for="sdt">Nhập số điện của bạn</label>
				<input
					type="text"
					name="sdt"
					id="sdt"
					class="form-control mb-2"
					ng-model="sdt"
					required
					minlength="10"
					maxlength="10"
				/>
				<small
					class="text-danger d-block"
					ng-hide="formGopY.sdt.$untouched || formGopY.sdt.$valid"
				>
					Vui lòng nhập sdt của bạn
				</small>
				<label class="fw-bold" for="email">Nhập email của bạn</label>
				<input
					type="email"
					name="email"
					id="email"
					class="form-control mb-2"
					ng-model="email"
					required
				/>
				<small
					class="text-danger d-block"
					ng-hide="formGopY.email.$untouched || formGopY.email.$valid"
				>
					Không đúng định dạnh email
				</small>
				<label class="fw-bold" for="noi-dung">Nhập nội dung</label>
				<textarea
					class="form-control mb-2"
					id="idContent"
					name="content"
					cols="30"
					rows="5"
					class="form-control"
					ng-model="_content"
					ng-required="true"
				></textarea>
				<span ng-show="formGopY.content.$error.required" class="text-danger"
					>*Vui lòng không bỏ trống ô nội dung</span
				>
				<div class="text-center">
					<button type="button" class="btn btn-outline-secondary">Gửi</button>
				</div>
			</form>
			<h4 class="fw-bold text-center mt-3">Lorem Ipsum</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elite. Quisque
				tincidunt et diam non pulvinar. Donec quis pellentesque orci. Proin sit
				amet metus scelerisque turpis vestibulum dapibus ac the elite. Aenean ut
				consectetur justo. Curabitur sagittis malesuada quam quis fermentum.
				Morbi in eros nec magna tempor ullamcorper sky id lacus. Ut fringilla
				không phải là ultrices không tincidunt. Nam mollis trong lectus vitae
				mattis.
			</p>
		</article>
		<aside
			class="col-12 col-md-3 border-start border-dark"
			ng-controller="my_DanhMucMonHoc"
		>
			<div class="border border-secondary p-1 mb-3">
				<h4 class="fw-bold text-center m-0">Danh mục.</h4>
			</div>
			<div class="aside-menu">
				<div class="list-group">
					<a
						href="#"
						class="list-group-item list-group-item-action"
						ng-repeat="dmMonHoc in list_monHoc"
						><i class="bi bi-arrow-right">{{dmMonHoc.Name}}</i>
						<span class="badge bg-dark float-end"></span
					></a>
				</div>
			</div>
		</aside>
	</div>
	<hr />
	<div class="row mt-3">
		<div class="title-text text-center mb-3">
			<h1 class="border border-2 border-secondary px-2 d-inline fw-bold">
				Môn học phổ biến.
			</h1>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/java.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/html.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/javascript.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
		<div class="col-md-3 col-12">
			<a href="#">
				<img src="Images/angularjs.jpg" alt="" class="img-fluid" />
			</a>
			<p class="text-center">
				<a class="text-black noi-bat" href="#"
					>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
				>
			</p>
		</div>
	</div>
	<hr />
</div>
